@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
$accent1: #FFAC1F;
$accent2: #B474F6;

.main {
    height: 100%;
}

.card-nav {
    width: 100vw;
    height: 35vh;
    background-color: #fff;
    padding-top: 50px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transform: translateY(-25%);
}

.card--left {
    background-color: $accent1;
}

.card--right {
    background-color: $accent2;
}
.card {
    padding-top: 40px;
    .card__content {
        padding-left: 10px;
        padding-bottom: 10px;
    }
    .card__title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #fff;
    }
}