@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
$descColor: rgba(255, 255, 255, .7);
.score {
  width: 100vw;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAD961;
  background-image: linear-gradient(180deg, #FAD961 0%, #F76B1C 100%); 
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
  
  &__value {
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__num {
    display: block;
  }

  &__img {
    display: block;
    margin-left: 10px;
  }

  &__desc {
    font-size: 1.5rem;
    font-weight: 500;
    color: $descColor;
  }

}
